{% extends 'base.html.twig' %}

{% block title %}Image List{% endblock %}

{% block pageheader %}
    <h1>Image List</h1>
    <p class="count">
        Displaying {{ images|length }} images of {{ images.getTotalItemCount }} total. </p>
{% endblock %}

{% block body %}

    {% embed 'image/partial/list.html.twig' with {'images': images, 'link_artefacts': true} %}
    {% endembed %}

    <div class="navigation">
        {{ knp_pagination_render(images) }}
    </div>

    {% embed 'image/partial/image_modal.html.twig' %}
    {% endembed %}
{% endblock %}
