{% extends 'base.html.twig' %}

{% block title %}Typology Search{% endblock %}

{% block pageheader %}
    <h1>Typology Search</h1>
    {% embed 'misc/search-header.html.twig' %}
    {% endembed %}
{% endblock %}

{% block body %}

    {% embed 'misc/search-form.html.twig' %}
    {% endembed %}

    {% if q %}
    {% embed '@NinesUtil/term/partial/index.html.twig' with {'terms': results, 'path': 'content_show'} %}
    {% endembed %}
    {% endif %}

    {% embed 'misc/search-footer.html.twig' %}
    {% endembed %}

{% endblock %}
