{% if q %}
    {% block callback %}
        <p class="count">
            Displaying {{ results|length }} search 
            {% if results|length == 1 %}
                result
            {% else %}
                results
            {% endif %}
            of {{ results.getTotalItemCount }} total.
        </p>
    {% endblock %}
{% endif %}
