{% extends 'base.html.twig' %}

{% block title %}Publication Search{% endblock %}

{% block pageheader %}
    <h1>Publication Search</h1>
    {% embed 'App:misc:search-header.html.twig' %}
    {% endembed %}
{% endblock %}

{% block body %}

    {% embed 'App:misc:search-form.html.twig' %}
    {% endembed %}

    {% if q %}
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Doi</th>
                </tr>
            </thead>
            <tbody>
                {% for publication in results %}
                    <tr>
                        <td>
                            <a href="{{ path('publication_show', { 'id': publication.id }) }}">
                                {{ publication.title }}
                            </a>
                        </td>
                        <td>
                            {% if publication.doi %}
                                <a href="{{ publication.doi }}">{{ publication.doi }}</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}

    {% embed 'App:misc:search-footer.html.twig' %}
    {% endembed %}

{% endblock %}
