{% extends 'base.html.twig' %}

{% block title %}Glaze Search{% endblock %}

{% block pageheader %}
    <h1>Glaze Search</h1>
    {% embed '@App/misc/search-header.html.twigg' %}
    {% endembed %}
{% endblock %}

{% block body %}

    {% embed '@App/misc/search-form.html.twigg' %}
    {% endembed %}

    {% if q %}
    {% embed '@NinesUtil/term/partial/index.html.twig' with {'terms': results, 'path': 'content_show'} %}
    {% endembed %}
    {% endif %}

    {% embed '@App/misc/search-footer.html.twigg' %}
    {% endembed %}

{% endblock %}
